[
  {rabbit, [{auth_backends, [rabbit_auth_backend_http]}]},
  {rabbitmq_auth_backend_http, [
    {user_path, "http://mq-auth/user"},
    {vhost_path,  "http://mq-auth/vhost"},
    {resource_path, "http://mq-auth/resource"}
  ]},
  {rabbitmq_web_stomp, [
    {ssl_config, [{port, 4433},
       {certfile, "/certs/cert.pem"},
       {keyfile,  "/certs/key.pem"},
       {password, "ignoredButRequired"}
     ]}
   ]}
].